.hero {
    margin-top: 73px;
    width: 100%;
    position: relative;
    padding: 30px 100px;
    display: flex;
}

.hero::after {
    content: '';
    width: 75%;
    height: 4px;
    background-color: var(--accent-3);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.img-container {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: relative;
    border-radius: 58% 42% 70% 30% / 52% 57% 43% 48%;
    background: rgb(143, 0, 204);
    background: linear-gradient(135deg, rgba(143, 0, 204, 1) 32%, rgba(87, 56, 79, 1) 100%);
    width: 350px;
    height: 350px;
    overflow: visible;
    
}

.hero-img {
    position: absolute;
    top: 15%;
    animation: animate-vector 1s ease forwards;
}

.hero-text {
    margin: 50px 0;
    width: 65%;
}

.hero-heading {
    font-size: 88px;
}

h1>span {
    position: relative;
    /* color: var(--accent-1); */
}

h1>span::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--accent-1);
    bottom: 10px;
    left: 0;
    animation: animate-line 1s ease forwards;
}

@keyframes animate-line {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.hero-desc {
    margin: 50px 0;
    font-size: 24px;
    width: 80%;
    position: relative;
}

.hero-desc > img {
    position: absolute;
    bottom: 80%;
    left: -5%;
    z-index: -1;
    animation: animate-vector 1s ease forwards;
}

@keyframes animate-vector {
    0% {
        transform: scale(20%);
    }

    50% {
        transform: scale(120%);
    }

    100% {
        transform: scale(100%);
    }
}

@media screen and (max-width: 875px) {
    .hero {
        padding: 10px 50px;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .hero::after {
        content: '';
        width: 75%;
        height: 4px;
        background-color: var(--accent-3);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .img-container {
        width: 100%;
        height: 35%;
    }
    
    .circle {
        width: 200px;
        height: 200px;
    }
    
    .hero-text {
        margin: 50px 0;
        width: 100%;
    }
    
    .hero-heading {
        font-size: 50px;
    }

    h1>span::after {
        bottom: 0;
    }

    .hero-desc {
        margin: 30px 0 0 0;
        font-size: 20px;
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    .hero {
        padding: 10px 30px;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .hero::after {
        content: '';
        width: 75%;
        height: 4px;
        background-color: var(--accent-3);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .img-container {
        width: 100%;
        height: 35%;
    }
    
    .circle {
        width: 200px;
        height: 200px;
    }
    
    .hero-text {
        margin: 60px 0 20px 0;
        width: 100%;
    }
    
    .hero-heading {
        font-size: 32px;
    }

    h1>span::after {
        bottom: 0;
    }

    .hero-desc {
        margin: 30px 0 0 0;
        font-size: 14px;
        width: 100%;
    }
}